body {
    background-color: #E9ECEF;
}

/* .shorten-text {
    height: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.line-clamp {
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}